.package {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    background:white;
}

.marquee-container {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 35s linear infinite;
    color:#3c8cee ;
    font-size: large;
    font-weight: 800;
    margin-top: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
.composepage-left{
    height: 100vh;
    width: 35vh;
    margin-right: 15px;
   background-color: #fd1490;
}
.page-logo {
    display: flex;
    margin-left: 60px;
    margin-top: 50px;
    

}
.side.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    /* Adjust width as needed */
    margin-top: 5px;
    margin-right: 20px;
}

.side.menu h3 {
    font-size: 20px;
    color:white  ;
}

.side.menu label,
select {
    padding: 8px;
    width: 200px;
    border-radius: 6px;
}

.side.menu input label {
    color: white;
}
.icon {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 68px;
    height: 30px;
    margin-bottom: -35px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .arrow {
    position: absolute;
    top: 12px;
    width: 85%;
    height: 6px;
    background-color: #3c8cee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 600ms linear infinite;
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 48%;
    height: 6px;
    right: -6px;
    background-color: #3c8cee;
  }
  
  .arrow::after {
    top: -8px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
  @keyframes arrow {
      0% {
        left: 0;
      }
      50% {
        left: 5px;
      }
      100% {
        left: 0;
      }
    }
    
    .container {
        display: flex;
        gap: 10px;
        padding: 5px;
        align-items: center;
        padding-left: 5px;
        border-radius: 10px;
        margin-bottom: 5px;
        margin-right: 15px;
    }
    
    .container h3 {
        font-size: 20px;
        color: #fd1490;
        margin-left: 55px;
    }
    
    .input-field {
        position: relative;
        z-index: 0;
        border-radius: 5px;
        padding: 5px;
        font-family: sans-serif;
        font-weight: bold;
        border: 4px solid transparent; /* Make the original border transparent */
        overflow: hidden;
    }
    
    .input-field select {
        width: 200px; /* Adjust width as needed */
        padding: 5px;
        border: none;
        outline: none;
        background-color: transparent;
        color: #000000;
        font-weight: 600;
        font-size: medium;
        position: relative;
        z-index: 1;
    }
    
    .input-field select:hover {
        border: 2px solid #3c8cee; /* Border color on hover */
    }
    
    *, *::before, *::after {
        box-sizing: border-box;
    }
    
    .blinking {
        animation: blinkBorder 1s linear infinite; /* Apply the blinking animation */
    }
    
    .static {
        border: 4px solid #fd1490; /* Static border color */
    }
    
    .default-border {
        border: 4px solid #fd1490; /* Default border color */
    }
    
    @keyframes blinkBorder {
        0%, 49.9%, 100% {
            border-color: #fd1490;
        }
        50%, 99.9% {
            border-color: #3c8cee;
        }
    }
    
.horizonital-line-box {
    margin: 10px auto;
    /* Center horizontally with top and bottom margin */
    width: 150px;
    height: 19px;
    font-size: 14px;
    background-color: rgb(251, 251, 59);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    height: 40px;
    width: calc(650px - 10px);
    background-color: #3c8cee;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.content label,
.content input,
.input-field1 {
    margin-right: 5px;
    padding-left: 30px;
    
}

.input-field1 select {
    width: 150px;
    /* Adjust width as needed */
}

@keyframes zoomInfinity {

    0%,
    100% {
        transform: scale(2);
    }

    50% {
        transform: scale(1);
    }
}

.select-subcategorys {
    animation: zoom 3s linear infinite;
}

.disable {
    animation: none;
}

.text-area {
    width: calc(33.33% - 10px);
    float: left;
    margin-right: 5px;
    margin-bottom: -45px;
}

.preview-area {
    width: calc(33.33% - 20px);
    float: left;
    margin-right: 0px;
    margin-bottom: -45px;
}
.preview-area p{
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 120px;
    height: 19px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(251, 251, 59);
    border-radius: 5px;
}
.icon1 {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 34px;
    height: 10px;
    margin-bottom: -35px;
    margin-top: -30px;
    margin-left: 110px;
    cursor: pointer;
    transform: rotate(90deg);
  }
  
  .arrow1 {
    position: absolute;
    top: 1px;
    width: 85%;
    height: 3px;
    background-color: #3c8cee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 600ms linear infinite;
  }
  
  .arrow1::after, .arrow1::before {
    content: '';
    position: absolute;
    width: 48%;
    height: 3px;
    right: -3px;
    background-color: #3c8cee;
  }
  
  .arrow1::after {
    top: -4px;
    transform: rotate(45deg);
  }
  
  .arrow1::before {
    top: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
  @keyframes arrow1 {
      0% {
        top: 0;
      }
      50% {
        top: 5px;
      }
      100% {
        top: 0;
      }
    }
.calendar-container {
    width: calc(33.33% - 20px);
    float: left;
    margin-right: 0px;
    margin-top: -55px;
    margin-bottom: -35px;
}
.disabled {
    opacity: 0.5; /* Reduce opacity to visually disable elements */
    pointer-events: none; /* Disable pointer events to prevent interaction */
}
.custom-calendar {
    width: 70%;
    overflow: hidden;
    background-color: #ffffff; /* Full white color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1); /* Border shadow */
}

.custom-calendar .react-datepicker-wrapper,
.custom-calendar .react-datepicker {
    background-color: transparent; /* Set transparent background for datepicker */
    border: none; /* Remove border for datepicker */
}

.custom-calendar .react-datepicker__header {
    background-color: #a5caf7; /* White background for datepicker header */
    border-bottom: 1px solid #e0e0e0; /* Bottom border for datepicker header */
}

.custom-calendar .react-datepicker__day-names,
.custom-calendar .react-datepicker__week {
    background-color: #ffffff; /* White background for day names and weeks */
}

.custom-calendar .react-datepicker__day {
    color: #333333; /* Day text color */
}

.custom-calendar .react-datepicker__day:hover {
    background-color: #f0f0f0; /* Hover background color for days */
}
.custom-calendar .react-datepicker__day--disabled {
    color: #cccccc; /* Disabled date color */
    pointer-events: none; /* Disable pointer events for disabled dates */
}

.custom-calendar .react-datepicker__day--disabled:hover {
    background-color: transparent; /* Remove hover background color for disabled dates */
}

.custom-calendar .react-datepicker__day--enabled:hover {
    background-color: #f0f0f0; /* Hover background color for enabled dates */
}
.calendar-container p{
    margin-top: -20px;
    width: 80px;
    height: 19px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(251, 251, 59);
    border-radius: 5px;

}

.modal-content {
    background:#ffffff;
    border: 5px solid #c82121;
    width: 650px; /* Adjust width as needed */
    height: 550px; /* Adjust height as needed */
    border-radius: 10px;
    color: rgb(5, 3, 3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -155px;
    margin-left: -350px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content h4{
    margin-top: 5px; /* Remove top margin for the first paragraph */
    color: #DAA520;
    font-size: larger;
    font-weight: 800;
    box-shadow: 0 3px 5px #DAA520 ;
  
}

.modal-content img {
    align-self: flex-end; /* Align image to top right corner */
    margin-top: -70px; /* Adjust as needed */
}
.modal-content p{
    margin-top: -10px;
    margin-bottom: 5px;
    color: #DAA520;
    font-size: large;
    font-weight: 500;
}

.modal-content ul {
    list-style-type: none;
    padding: 0;
    margin: 90px 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: large;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 44, 44);
    border-radius: 5px;

}
.modal-content .selectedDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;

}
.modal-content ul li {
    cursor: pointer;
}
.modal-content .buttons-container1 {
    /* Adjusted styles */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right within selectedDate */
    
}

.modal-content .buttons-container2 {
    /* Adjusted styles */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align to the right within selectedSundays */
}
.modal-content .buttons-container1 button,
.modal-content .buttons-container2 button {
    /* Adjusted styles */
    background-color: #DAA520;
    font-size: 15px;
    font-weight: 400;
    color: black;
    border: none;
    border-radius: 28px;
    padding: 8px 16px; /* Adjust padding as needed */
    cursor: pointer;
}

.modal-content .buttons-container1 button:hover,
.modal-content .buttons-container2 button:hover {
    /* Hover styles */
    background-color: #ffffff;
}

.price-info {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 40px;
    width: 1000px;
    background-color: rgb(251, 251, 59) ;
    color: black;
    font-size: medium;
    font-weight: 800;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.price-info-text p {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 15px;
}

.upload {
    padding: 2px;
    /* Space between price info and upload content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    height: 230px;
    background-color: #3c8cee;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 5px;
    width: 275px;
}

.upload p,
label input {
    justify-content: center;
    margin: 0px 0px;
    /* Update margin */
}

.upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    width: 120px;
    height: 30px;
    margin: auto;
    /* Align the button in the center both horizontally and vertically */
    margin-top: 10px;
    margin-bottom: 15px;
    /* Add margin at the bottom for spacing */
    border-radius: 5px;
}

.upload-button:hover {
    background-color: #0056b3;
}

.table-content-box {
    margin-top: -20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 95%;
    /* Adjust width as needed */
    background-color:#3c8cee ;
    overflow-x: auto;
    /* Add horizontal scroll if content exceeds width */
}

.table-content-box h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: white;
}

.table-content-box table {
    width: 100%;
    border-collapse: collapse;
}

.table-content-box table th,
.table-content-box table td {
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    color: white;
}

.table-content-box table th {
    font-weight: bold;
    white-space: nowrap;
    /* Prevent text wrapping */
}

.table-content-box table td:last-child {
    border-bottom: none;
    /* Remove border-bottom for the last cell in each row */
}

.payment-options {
    display: flex;
    justify-content: space-between;
    /* Align items horizontally */
    background-color: rgb(251, 251, 59);
    color: rgb(0, 0, 0);
    font-weight: 800;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: 0px;
}

.payment-info-box {

    align-items: center;
    margin-top: 5px;
}

.payment-info {
    text-align: center;
    color: #000;
    margin-bottom: 5px;
}

.payment-options-or {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.payment-options input[type="radio"] {
    margin-right: 5px;
}
.coupon-code-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px; /* Add padding for spacing */
    margin-top: 20px;
    margin-right: 300px;
    border-radius: 5px; /* Rounded corners for the container */
}

.coupon-code-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px; /* Space between the "Apply Coupon Code" text and the input field */
    color: rgb(255, 255, 255); /* White text color for the text */
    background-color: #3c8cee;
    height: 35px;
    width: 140px;
}

.coupon-code-container input {
    border: 1px solid #000000; /* Black border for the input field */
    height: 35px; /* Decrease the height of the input field */
    padding: 6px; /* Add padding for spacing inside the input field */
}

.coupon-code-container button {
    background-color: #007bff; /* Blue color for the Submit button */
    color: white;
    border: none;
    height: 35px;
    width: 80px;
    border-radius: 9px;
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.composepage-btn {
    display: flex;
    justify-content:flex-end;
    /* Align items to the right */
    margin-top: -70px;
    margin-right: 25px;
}
.composepage-btn button {
    padding: 15px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.composepage-btn button:hover {
    background-color: #0056b3;
}