.package {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    background:white;
}

.marquee-container {
    white-space: nowrap;
    overflow: hidden;
    animation: marquee 35s linear infinite;
    color:#3c8cee ;
    font-size: large;
    font-weight: 900;
    margin-top: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
.composepage-left{
    height: 100vh;
    margin-right: 15px;
   background-color: #fd1490;
}
.page-logo {
    display: flex;
    margin-left: 60px;
    margin-top: 80px;
    

}
.side.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    /* Adjust width as needed */
    margin-top: 30px;
    margin-right: 20px;
}

.side.menu h3 {
    font-size: 20px;
    color:white  ;
}

.side.menu label,
select {
    padding: 8px;
    width: 200px;
    border-radius: 6px;
}

.side.menu input label {
    color: white;
}
.icon {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 68px;
    height: 30px;
    margin-bottom: -35px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .arrow {
    position: absolute;
    top: 12px;
    width: 80%;
    height: 6px;
    background-color: #3c8cee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 600ms linear infinite;
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 48%;
    height: 6px;
    right: -6px;
    background-color: #3c8cee;
  }
  
  .arrow::after {
    top: -8px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
  @keyframes arrow {
      0% {
        left: 0;
      }
      50% {
        left: 5px;
      }
      100% {
        left: 0;
      }
    }
.container {
    display: flex;
    gap: 30px;
    padding: 5px;
    align-items: center;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.container h3 {
    font-size: 25px;
    color: #fd1490 ;
    margin-left: 60px;
}

.input-field {
    border: 3px solid #3c8cee; /* Add border color here */
    border-radius: 5px;
    padding: 5px;
}

.input-field select {
    width: 200px; /* Adjust width as needed */
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #000000;
}

.input-field select:hover {
    border: 1px solid #3c8cee; /* Border color on hover */
}


.horizonital-line-box {
    margin: 10px auto;
    /* Center horizontally with top and bottom margin */
    width: 150px;
    height: 19px;
    font-size: 14px;
    background-color: rgb(251, 251, 59);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    height: 40px;
    width: calc(650px - 10px);
    background-color: #3c8cee;
    color: white;
    font-weight: 600;
    border-radius: 7px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.content label,
.content input,
.input-field1 {
    margin-right: 5px;
    padding-left: 30px;
    
}

.input-field1 select {
    width: 150px;
    /* Adjust width as needed */
}

@keyframes zoomInfinity {

    0%,
    100% {
        transform: scale(2);
    }

    50% {
        transform: scale(1);
    }
}

.select-subcategorys {
    animation: zoom 3s linear infinite;
}

.disable {
    animation: none;
}

.text-area {
    width: calc(33.33% - 10px);
    float: left;
    margin-right: 5px;
    margin-bottom: -45px;
}

.preview-area {
    width: calc(33.33% - 20px);
    float: left;
    margin-right: 0px;
    margin-bottom: -45px;
}

.calendar-container {
    width: calc(33.33% - 20px);
    float: left;
    margin-right: 0px;
    margin-top: -35px;
    margin-bottom: -35px;
}
.disabled {
    opacity: 0.5; /* Reduce opacity to visually disable elements */
    pointer-events: none; /* Disable pointer events to prevent interaction */
}
.custom-calendar {
    width: 100%;
    overflow: hidden; /* Ensure proper layout */
}
.modal-content {
    background:rgb(255, 255, 255) ;
    border: 5px solid #DAA520;
    width: 550px; /* Adjust width as needed */
    height: 450px; /* Adjust height as needed */
    border-radius: 10px;
    color: rgb(5, 3, 3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -155px;
    margin-left: -250px;
    padding: 20px;
}

.modal-content p:nth-child(1) {
    margin-top: 5px; /* Remove top margin for the first paragraph */
    color: #DAA520;
    font-size: larger;
    font-weight: 800;
}

.modal-content img {
    align-self: flex-end; /* Align image to top right corner */
    margin-top: -70px; /* Adjust as needed */
}
.modal-content p{
    margin-top: -10px;
    margin-bottom: -10px;
    color: #DAA520;
    font-size: large;
    font-weight: 500;
}
.modal-content ul {
    list-style-type: none;
    padding: 0;
    margin: 90px 0;
    margin-bottom: -20px;
    color: #DAA520;
    font-size: large;
    font-weight: 400;
}

.modal-content ul li {
    cursor: pointer;
}

.modal-content .buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust spacing between buttons */
    margin-top: 20px;
}

.modal-content button {
    width: 60px;
    height: 30px;
    display: inline-block; /* Display buttons inline */
}

.price-info {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 40px;
    width: 925px;
    background-color: #fd1490 ;
    color: white;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.price-info-text p {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 15px;
}

.upload {
    padding: 2px;
    margin-top: 20px;
    /* Space between price info and upload content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    height: 230px;
    background-color: #3c8cee;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 10px;
    width: 275px;
}

.upload p,
label input {
    justify-content: center;
    margin: 0px 0px;
    /* Update margin */
}

.upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    width: 120px;
    height: 30px;
    margin: auto;
    /* Align the button in the center both horizontally and vertically */
    margin-top: 10px;
    margin-bottom: 15px;
    /* Add margin at the bottom for spacing */
    border-radius: 5px;
}

.upload-button:hover {
    background-color: #0056b3;
}

.table-content-box {
    margin-top: -5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    /* Adjust width as needed */
    background-color:#3c8cee ;
    overflow-x: auto;
    /* Add horizontal scroll if content exceeds width */
}

.table-content-box h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    color: white;
}

.table-content-box table {
    width: 100%;
    border-collapse: collapse;
}

.table-content-box table th,
.table-content-box table td {
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    color: white;
}

.table-content-box table th {
    font-weight: bold;
    white-space: nowrap;
    /* Prevent text wrapping */
}

.table-content-box table td:last-child {
    border-bottom: none;
    /* Remove border-bottom for the last cell in each row */
}

.payment-options {
    display: flex;
    justify-content: space-between;
    /* Align items horizontally */
    background-color: rgb(251, 251, 59);
    color: rgb(92, 88, 88);
    font-weight: 600;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: -15px;
    margin-left: 0px;
}

.payment-info-box {

    align-items: center;
    margin-top: 5px;
}

.payment-info {
    text-align: center;
    color: #000;
    margin-bottom: 5px;
}

.payment-options-or {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.payment-options input[type="radio"] {
    margin-right: 5px;
}

.composepage-btn {
    display: flex;
    justify-content:flex-end;
    /* Align items to the right */
    margin-top: 0px;
    margin-right: 15px;
}

.composepage-btn button {
    padding: 15px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.composepage-btn button:hover {
    background-color: #0056b3;
}